/* Estructura base */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fdfdfd;
  color: #333;
}

/* HERO */
.hero {
  padding: 2rem 1rem;
  text-align: center;
}

/* FOOTER: ¡Este cambio es clave! */
.footer {
  text-align: center;
  background-color:darkslategrey;
  margin-top: auto;
}


/* RESPONSIVE */
@media (min-width: 768px) {
  
  .navbar {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .hero {
    padding: 4rem 2rem;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
}





